<template>
  <button @click="addPivotLaser()">add pivot laser</button>
</template>

<script>
import EventBus from "../utils/event-bus";
export default {
  name: "ButtonPivotLaser",
  props: {
    paper: Object,
    selectedItem: Object,
    hitOptions: Object,
    items: Array,
    scaleDivider: Number,
  },
  methods: {
    addSaw(existingYml) {
      const curRotation =
        Math.atan2(
          existingYml.pby - existingYml.pay,
          existingYml.pbx - existingYml.pax
        ) *
        (180 / Math.PI);
      let rect = this.paper.Path.Circle({
        selected: false,
        fillColor: "red",
        selectedNode: "null",
        itemType: "pivotlaser",
        radius: 20,
      });
      rect.curRotation = curRotation;
      rect.position.x = existingYml.x;
      rect.position.y = existingYml.y;

      rect.onMouseDown = (event) => {
        this.$emit("select-item", rect);
        const hitResult = this.paper.project.hitTest(
          event.point,
          this.hitOptions
        );
        if (hitResult.type == "segment") {
          rect.selectedNode = hitResult.segment;
        } else {
          rect.selectedNode = hitResult.item;
        }
      };

      rect.onMouseDrag = (event) => {
        let selectedNode = rect.selectedNode;

        selectedNode.position.x += event.delta.x;
        selectedNode.position.y += event.delta.y;
        selectedNode.moveAxis.position.x += event.delta.x;
        selectedNode.moveAxis.position.y += event.delta.y;
      };

      rect.toYml = () => {
        return {
          x: rect.position.x / this.scaleDivider,
          y: -rect.position.y / this.scaleDivider,
          pax: rect.moveAxis.segments[0].point.x / this.scaleDivider,
          pay: -rect.moveAxis.segments[0].point.y / this.scaleDivider,
          pbx: rect.moveAxis.segments[1].point.x / this.scaleDivider,
          pby: -rect.moveAxis.segments[1].point.y / this.scaleDivider,
          angle:
            Math.atan2(
              rect.moveAxis.segments[0].point.y -
                rect.moveAxis.segments[1].point.y,
              rect.moveAxis.segments[0].point.x -
                rect.moveAxis.segments[1].point.x
            ) - Math.PI,
        };
      };

      this.items.push(rect);
      this.$emit("select-item", rect);
      return rect;
    },
    addPivotLaser(existingYml = false) {
      if (!existingYml) {
        existingYml = {
          x: 5.0,
          y: -4.0,
          w: 20,
          h: 20,
          pax: 5.0,
          pay: -4.0,
          pbx: 9.0,
          pby: -4.0,
          reversed: false,
        };
      }
      existingYml = this.convertProperties(existingYml);
      let saw = this.addSaw(existingYml);
      let moveAxis = this.createMoveAxis(existingYml);
      moveAxis.saw = saw;
      saw.moveAxis = moveAxis;
    },
    convertProperties(existingYml) {
      existingYml.x = existingYml.x * this.scaleDivider;
      existingYml.y = -existingYml.y * this.scaleDivider;
      existingYml.pax = existingYml.pax * this.scaleDivider;
      existingYml.pay = -existingYml.pay * this.scaleDivider;
      existingYml.pbx = existingYml.pbx * this.scaleDivider;
      existingYml.pby = -existingYml.pby * this.scaleDivider;
      existingYml.speed = existingYml.speed * this.scaleDivider;

      return existingYml;
    },
    createMoveAxis(existingYml = false) {
      let myPath = new this.paper.Path();
      myPath.strokeColor = "black";
      myPath.strokeWidth = 4;

      myPath.add(new this.paper.Point(existingYml.pax, existingYml.pay));
      myPath.add(new this.paper.Point(existingYml.pbx, existingYml.pby));
      myPath.selected = true;
      myPath.onMouseDown = (event) => {
        const hitResult = this.paper.project.hitTest(
          event.point,
          this.hitOptions
        );
        myPath.selectedNode = hitResult.type;
      };

      myPath.onMouseDrag = (event) => {
        if (myPath.selectedNode === "stroke") {
          myPath.segments[1].point.x += event.delta.x;
          myPath.segments[1].point.y += event.delta.y;
          const curRotation =
            Math.atan2(
              myPath.segments[0].point.y - myPath.segments[1].point.y,
              myPath.segments[0].point.x - myPath.segments[1].point.x
            ) *
            (180 / Math.PI);
          myPath.saw.rotate(-myPath.saw.curRotation);
          myPath.saw.rotate(curRotation);
          myPath.saw.curRotation = curRotation;
        }
      };

      return myPath;
    },
  },
  mounted() {
    EventBus.$on("ADD_PIVOTLASER", (payLoad) => {
      this.addPivotLaser(payLoad);
    });
  },
  computed: {},
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
</style>
