<template>
  <button @click="addMovingSaw()">add moving saw</button>
</template>

<script>
import EventBus from "../utils/event-bus";
export default {
  name: "ButtonMovingSaw",
  props: {
    paper: Object,
    selectedItem: Object,
    hitOptions: Object,
    items: Array,
    scaleDivider: Number,
  },
  methods: {
    addSaw(existingYml) {
      const curRotation =
        Math.atan2(
          existingYml.pby - existingYml.pay,
          existingYml.pbx - existingYml.pax
        ) *
        (180 / Math.PI);
      let circ = this.paper.Path.Circle({
        selected: false,
        radius: existingYml.r,
        fillColor: "red",
        curRotation: curRotation,
        selectedNode: "null",
        reversed: false,
        itemType: "movingSaw",
        speed: existingYml.speed,
      });

      circ.position.x = existingYml.x;
      circ.position.y = existingYml.y;

      circ.onMouseDown = (event) => {
        this.$emit("select-item", circ);
        const hitResult = this.paper.project.hitTest(
          event.point,
          this.hitOptions
        );
        if (hitResult.type == "segment") {
          circ.selectedNode = hitResult.segment;
        } else {
          circ.selectedNode = hitResult.item;
        }
      };

      circ.onMouseDrag = (event) => {
        let selectedNode = circ.selectedNode;
        if (selectedNode instanceof this.paper.Segment) {
          circ.scale(1 + event.delta.x / 100);
        } else {
          let rad = selectedNode.curRotation * (Math.PI / 180);
          const predictedpositionX =
            selectedNode.position.x + event.delta.x * Math.cos(rad);
          const predictedpositionY =
            selectedNode.position.y + event.delta.x * Math.sin(rad);
          const extremities = this.computeExtremities(circ.moveAxis);
          if (
            !(predictedpositionX > extremities.right) &&
            !(predictedpositionX < extremities.left) &&
            !(predictedpositionY < extremities.up) &&
            !(predictedpositionY > extremities.down)
          ) {
            selectedNode.position.x = predictedpositionX;
            selectedNode.position.y = predictedpositionY;
          }
        }
      };

      circ.toYml = () => {
        return {
          x: circ.position.x / this.scaleDivider,
          y: -circ.position.y / this.scaleDivider,
          r: circ.bounds.width / 2 / this.scaleDivider,
          pax: circ.moveAxis.segments[0].point.x / this.scaleDivider,
          pay: -circ.moveAxis.segments[0].point.y / this.scaleDivider,
          pbx: circ.moveAxis.segments[1].point.x / this.scaleDivider,
          pby: -circ.moveAxis.segments[1].point.y / this.scaleDivider,
          speed: circ.speed / this.scaleDivider,
          reversed: circ.reversed == "true",
        };
      };

      this.items.push(circ);
      this.$emit("select-item", circ);
      return circ;
    },
    addMovingSaw(existingYml = false) {
      if (!existingYml) {
        existingYml = {
          x: 7.0,
          y: -4.0,
          r: 1,
          pax: 5.0,
          pay: -4.0,
          pbx: 9.0,
          pby: -4.0,
          speed: 4,
          reversed: false,
        };
      }
      existingYml = this.convertProperties(existingYml);
      let saw = this.addSaw(existingYml);
      let moveAxis = this.createMoveAxis(existingYml);
      moveAxis.saw = saw;
      saw.moveAxis = moveAxis;
    },
    convertProperties(existingYml) {
      existingYml.x = existingYml.x * this.scaleDivider;
      existingYml.y = -existingYml.y * this.scaleDivider;
      existingYml.pax = existingYml.pax * this.scaleDivider;
      existingYml.pay = -existingYml.pay * this.scaleDivider;
      existingYml.pbx = existingYml.pbx * this.scaleDivider;
      existingYml.pby = -existingYml.pby * this.scaleDivider;
      existingYml.r = existingYml.r * this.scaleDivider;
      existingYml.speed = existingYml.speed * this.scaleDivider;

      return existingYml;
    },
    computeExtremities(path) {
      const left =
        path.segments[0].point.x > path.segments[1].point.x
          ? path.segments[1].point.x
          : path.segments[0].point.x;

      const right =
        path.segments[0].point.x > path.segments[1].point.x
          ? path.segments[0].point.x
          : path.segments[1].point.x;

      const down =
        path.segments[0].point.y > path.segments[1].point.y
          ? path.segments[0].point.y
          : path.segments[1].point.y;

      const up =
        path.segments[0].point.y > path.segments[1].point.y
          ? path.segments[1].point.y
          : path.segments[0].point.y;
      return { right, left, up, down };
    },
    createMoveAxis(existingYml = false) {
      var myPath = new this.paper.Path();
      myPath.strokeColor = "black";
      myPath.strokeWidth = 2;

      myPath.add(new this.paper.Point(existingYml.pax, existingYml.pay));
      myPath.add(new this.paper.Point(existingYml.pbx, existingYml.pby));
      myPath.selected = true;
      myPath.onMouseDown = (event) => {
        const hitResult = this.paper.project.hitTest(
          event.point,
          this.hitOptions
        );
        myPath.selectedNode = hitResult.type;
      };
      myPath.onMouseDrag = (event) => {
        if (myPath.selectedNode === "stroke") {
          myPath.position.x += event.delta.x;
          myPath.position.y += event.delta.y;
          myPath.saw.position.x += event.delta.x;
          myPath.saw.position.y += event.delta.y;
        } else {
          myPath.scale(1 + event.delta.x / 100);
        }
      };

      return myPath;
    },
  },
  mounted() {
    EventBus.$on("ADD_MOVINGSAW", (payLoad) => {
      this.addMovingSaw(payLoad);
    });
  },
  computed: {},
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
</style>
