<template>
  <button @click="addNoCorrection()">add No correction zone</button>
</template>

<script>
import EventBus from "../utils/event-bus";
export default {
  name: "ButtonNoCorrection",
  props: {
    paper: Object,
    selectedItem: Object,
    hitOptions: Object,
    items: Array,
    scaleDivider: Number
  },
  methods: {
    addNoCorrection(existingYml = false) {
      if (!existingYml) {
        existingYml = { id: 0, x: 0, y: 0, w: 100, h: 200, angle: 0 };
      } else {
        existingYml.x = existingYml.x * this.scaleDivider;
        existingYml.y = -existingYml.y * this.scaleDivider;
        existingYml.w = existingYml.w * (2 * this.scaleDivider);
        existingYml.h = existingYml.h * (2 * this.scaleDivider);
        existingYml.angle = -existingYml.angle;
      }
      let rect = this.paper.Path.Rectangle({
        point: [
          existingYml.x - existingYml.w / 2,
          existingYml.y - existingYml.h / 2
        ],
        size: [existingYml.w, existingYml.h],
        fillColor: "red",
        opacity: 0.2,
        selected: false,
        selectedNode: null,
        itemType: "nocorrection",
        curRotation: existingYml.angle
      });

      rect.rotate(existingYml.angle);

      rect.onMouseDown = event => {
        this.$emit("select-item", rect);
        const hitResult = this.paper.project.hitTest(
          event.point,
          this.hitOptions
        );
        if (hitResult.type == "segment") {
          rect.selectedNode = hitResult.segment;
        } else {
          rect.selectedNode = hitResult.item;
        }
      };

      rect.toYml = () => {
        const hx = rect.segments[0].point.x - rect.segments[1].point.x;
        const hy = rect.segments[0].point.y - rect.segments[1].point.y;
        const h = Math.sqrt(hy * hy + hx * hx);
        const wx = rect.segments[0].point.x - rect.segments[3].point.x;
        const wy = rect.segments[0].point.y - rect.segments[3].point.y;
        const w = Math.sqrt(wy * wy + wx * wx);

        return {
          id: 0,
          x: rect.position.x / this.scaleDivider,
          y: -rect.position.y / this.scaleDivider,
          w: w / (this.scaleDivider * 2),
          h: h / (this.scaleDivider * 2),
          angle: -rect.curRotation
        };
      };

      rect.onMouseDrag = event => {
        let selectedNode = rect.selectedNode;
        if (selectedNode instanceof this.paper.Segment) {
          selectedNode.point.x += event.delta.x;
          selectedNode.point.y += event.delta.y;
          switch (rect.selectedNode.index) {
            case 0:
              rect.segments[1].point.x += event.delta.x;
              rect.segments[3].point.y += event.delta.y;
              break;
            case 1:
              rect.segments[0].point.x += event.delta.x;
              rect.segments[2].point.y += event.delta.y;
              break;
            case 2:
              rect.segments[3].point.x += event.delta.x;
              rect.segments[1].point.y += event.delta.y;
              break;
            case 3:
              rect.segments[selectedNode.index - 1].point.x += event.delta.x;
              rect.segments[selectedNode.index - 3].point.y += event.delta.y;
              break;
          }
        } else {
          selectedNode.position.x += event.delta.x;
          selectedNode.position.y += event.delta.y;
        }
      };
      this.items.push(rect);
    }
  },
  mounted() {
    EventBus.$on("ADD_NOCORRECTION", payLoad => {
      this.addNoCorrection(payLoad);
    });
  },
  computed: {}
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
</style>
