<template>
  <button @click="addSaw()">add sawblade</button>
</template>

<script>
import EventBus from "../utils/event-bus";
export default {
  name: "ButtonSaw",
  props: {
    paper: Object,
    selectedItem: Object,
    hitOptions: Object,
    items: Array,
    scaleDivider: Number
  },
  methods: {
    addSaw(existingYml = false) {
      if (!existingYml) {
        existingYml = { x: 100, y: 100, r: 30 };
      } else {
        existingYml.x = existingYml.x * this.scaleDivider;
        existingYml.y = -existingYml.y * this.scaleDivider;
        existingYml.r = existingYml.r * this.scaleDivider;
      }

      let circ = this.paper.Path.Circle({
        selected: false,
        radius: existingYml.r,
        fillColor: "red",
        selectedNode: "null",
        itemType: "saw"
      });
      circ.position.x = existingYml.x;
      circ.position.y = existingYml.y;

      circ.onMouseDown = event => {
        this.$emit("select-item", circ);
        const hitResult = this.paper.project.hitTest(
          event.point,
          this.hitOptions
        );
        if (hitResult.type == "segment") {
          circ.selectedNode = hitResult.segment;
        } else {
          circ.selectedNode = hitResult.item;
        }
      };

      circ.onMouseDrag = event => {
        let selectedNode = circ.selectedNode;
        if (selectedNode instanceof this.paper.Segment) {
          circ.scale(1 + event.delta.x / 100);
        } else {
          selectedNode.position.x += event.delta.x;
          selectedNode.position.y += event.delta.y;
        }
      };

      circ.toYml = () => {
        return {
          x: circ.position.x / this.scaleDivider,
          y: -circ.position.y / this.scaleDivider,
          r: circ.bounds.width / 2 / this.scaleDivider
        };
      };

      this.items.push(circ);
      this.$emit("select-item", circ);
      return circ;
    }
  },
  mounted() {
    EventBus.$on("ADD_SAW", payLoad => {
      this.addSaw(payLoad);
    });
  },
  computed: {}
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
</style>
