<template>
  <div>
    <div class="hello">
      <div class="canvas">
        <canvas id="sketch" ref="sketch" width="1280" height="720"></canvas>
      </div>
      <Toolbar
        v-bind:paper="paper"
        v-bind:items="items"
        v-bind:hitOptions="hitOptions"
        v-bind:selectedItem="selectedItem"
        v-bind:scaleDivider="scaleDivider"
        v-bind:level="level"
        ref="toolbar"
        @select-item="selectItem($event)"
      />
    </div>
    <YmlOutput v-bind:items="items" v-bind:scaleDivider="scaleDivider" v-bind:level="level" />
  </div>
</template>

<script>
import paper from "paper";
import Toolbar from "./Toolbar";
import EventBus from "../utils/event-bus";
import YmlOutput from "./YmlOutput";

export default {
  name: "HelloWorld",
  props: {
    msg: String,
  },
  data: () => {
    return {
      scaleDivider: 30.0,
      paper,
      selectedItem: {},
      hitOptions: {
        segments: true,
        stroke: true,
        fill: true,
        tolerance: 5,
      },
      level: {
        par: 0,
        name: "",
      },
      items: [],
    };
  },
  components: {
    Toolbar,
    YmlOutput,
  },
  mounted() {
    this.paper = paper.setup(this.$refs.sketch);
    this.paper.view.onKeyDown = (event) => {
      if (Object.entries(this.selectedItem).length) {
        switch (event.key) {
          case "up":
            this.selectedItem.position.y -= 1;
            if (this.selectedItem.moveAxis) {
              this.selectedItem.moveAxis.position.y -= 1;
            }
            event.stopPropagation();
            break;
          case "down":
            this.selectedItem.position.y += 1;
            if (this.selectedItem.moveAxis) {
              this.selectedItem.moveAxis.position.y += 1;
            }
            break;
          case "left":
            this.selectedItem.position.x -= 1;
            if (this.selectedItem.moveAxis) {
              this.selectedItem.moveAxis.position.x -= 1;
            }
            break;
          case "right":
            this.selectedItem.position.x += 1;
            if (this.selectedItem.moveAxis) {
              this.selectedItem.moveAxis.position.x += 1;
            }
            break;
          case "delete":
            this.removeItem(this.selectedItem);
            this.selectedItem = {};
            break;
          case "d": {
            const type = `ADD_${this.selectedItem.itemType.toUpperCase()}`;
            EventBus.$emit(type, this.selectedItem.toYml());
            break;
          }
        }
      }
    };

    EventBus.$on("IMPORT_YAML", (payLoad) => {
      this.generateFromYml(payLoad.file);
    });

    this.createDefaultitems();
  },
  methods: {
    selectItem(item) {
      this.items.forEach((i) => (i.selected = i == item));
      this.selectedItem = item;
    },
    removeItem(item) {
      item.remove();
      if (Object.prototype.hasOwnProperty.call(item, "moveAxis")) {
        item.moveAxis.remove();
      }
      const index = this.items.indexOf(item);
      this.items.splice(index, 1);
    },
    generateFromYml(yamlObject) {
      this.items.forEach((i) => {
        this.removeItem(i);
      });

      this.removeItem(this.items[0]);
      yamlObject.bodies.wall.forEach((w) => {
        EventBus.$emit("ADD_WALL", w);
      });
      yamlObject.bodies.saw.forEach((s) => {
        EventBus.$emit("ADD_SAW", s);
      });
      yamlObject.bodies.finish.forEach((f) => {
        this.toolbar.addFinish(f);
      });

      if (
        Object.prototype.hasOwnProperty.call(yamlObject.bodies, "movingsaw")
      ) {
        yamlObject.bodies.movingsaw.forEach((ms) => {
          EventBus.$emit("ADD_MOVINGSAW", ms);
        });
      }

      if (
        Object.prototype.hasOwnProperty.call(yamlObject.bodies, "throwingsaw")
      ) {
        yamlObject.bodies.throwingsaw.forEach((ms) => {
          EventBus.$emit("ADD_THROWINGSAW", ms);
        });
      }

      if (
        Object.prototype.hasOwnProperty.call(yamlObject.bodies, "pivotlaser")
      ) {
        yamlObject.bodies.pivotlaser.forEach((ms) => {
          EventBus.$emit("ADD_PIVOTLASER", ms);
        });
      }

      if (
        Object.prototype.hasOwnProperty.call(
          yamlObject.bodies,
          "reversegravityzone"
        )
      ) {
        yamlObject.bodies.reversegravityzone.forEach((rgz) => {
          EventBus.$emit("ADD_GRAVITY", rgz);
        });
      }
      if (
        Object.prototype.hasOwnProperty.call(yamlObject.bodies, "nocorrection")
      ) {
        yamlObject.bodies.nocorrection.forEach((nc) => {
          EventBus.$emit("ADD_NOCORRECTION", nc);
        });
      }
      this.level.par = yamlObject.par;
      this.level.name = yamlObject.name;
      this.toolbar.addSpawn(yamlObject.spawn);
    },
    createDefaultitems() {
      paper.Path.Rectangle({
        point: [0, 0],
        size: [paper.view.size.width, paper.view.size.height],
        fillColor: "#a6c8ff",
        selected: false,
        onMouseDown: () => this.selectItem({}),
        onMouseDrag: (event) => {
          Array.prototype.forEach.call(this.items, (i) => {
            i.position.x += event.delta.x;
            i.position.y += event.delta.y;
            if (
              i.itemType === "movingSaw" ||
              i.itemType === "throwingSaw" ||
              i.itemType === "pivotlaser"
            ) {
              i.moveAxis.position.x += event.delta.x;
              i.moveAxis.position.y += event.delta.y;
            }
          });
        },
      });

      this.toolbar.addFinish();
      this.toolbar.addSpawn();
    },
  },
  computed: {
    sketch() {
      return this.$refs.sketch;
    },
    toolbar() {
      return this.$refs.toolbar;
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
.hello {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  .canvas {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 1280px;
  }
}
</style>
