<template>
  <div id="form-import">
    <textarea v-model="yamlText"></textarea>
    <button @click="parse">parse</button>
  </div>
</template>

<script>
import EventBus from "../utils/event-bus";
import * as yaml from "js-yaml";

export default {
  name: "ImportForm",
  props: {},
  data: () => {
    return {
      yamlText: ""
    };
  },
  methods: {
    parse() {
      const level = yaml.safeLoad(this.yamlText);
      if (typeof level == "object") {
        EventBus.$emit("IMPORT_YAML", { file: level });
      }
    }
  },
  mounted() {},
  computed: {}
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
#form-import {
  display: block;
  margin-top: 10px;
  textarea {
    width: 100%;
    height: 200px;
  }
}
</style>
