<template>
  <div id="itemInfo">
    <div class="inputs" v-if="Object.keys(selectedItem).length > 0">
      <h3>{{ selectedItem.itemType }}</h3>
      <div
        v-if="['nocorrection', 'wall', 'reversegravityzone', 'movingSaw'].some(item => item === selectedItem.itemType)"
      >
        rotate :
        <input type="number" :value="selectedItem.curRotation" @change="rotateItem" />
      </div>
      <div v-if="selectedItem.itemType === 'movingSaw'">
        speed :
        <input type="number" v-model="selectedItem.speed" />
        reversed :
        <select v-model="selectedItem.reversed">
          <option value="false">false</option>
          <option value="true">true</option>
        </select>
      </div>
      <div v-if="selectedItem.itemType === 'throwingSaw'">
        speed :
        <input type="number" v-model="selectedItem.speed" />
        recurrency :
        <input type="number" v-model="selectedItem.recurrency" />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "ItemInfo",
  props: {
    selectedItem: Object,
    hitOptions: Object,
  },
  methods: {
    rotateItem(event) {
      this.selectedItem.rotate(
        Number(event.target.value) - this.selectedItem.curRotation
      );
      if (Object.prototype.hasOwnProperty.call(this.selectedItem, "moveAxis")) {
        this.selectedItem.moveAxis.rotate(
          Number(event.target.value) - this.selectedItem.curRotation
        );
      }
      this.selectedItem.curRotation = Number(event.target.value);
    },
  },
  mounted() {},
  computed: {},
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
#itemInfo {
  display: block;
  height: 150px;
  background-color: lightgray;
  input {
    width: 60px;
  }
}
</style>
