<template>
  <div id="levelInfo">
    <div class="inputs">
      <h3>Level info</h3>name :
      <input type="text" v-model="level.name" />
      par :
      <input type="number" v-model="level.par" />
    </div>
  </div>
</template>

<script>
export default {
  name: "LevelInfo",
  props: {
    level: Object
  },
  methods: {},
  mounted() {},
  computed: {}
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
#levelInfo {
  display: block;
  height: 150px;
  background-color: lightgray;
  margin-bottom: 10px;
  input {
    width: 60px;
  }
}
</style>
