<template>
  <div id="toolbar">
    <ButtonSaw
      v-bind:paper="paper"
      v-bind:selectedItem="selectedItem"
      v-bind:hitOptions="hitOptions"
      v-bind:items="items"
      v-bind:scaleDivider="scaleDivider"
      @select-item="selectItem($event)"
    />
    <ButtonWall
      v-bind:paper="paper"
      v-bind:selectedItem="selectedItem"
      v-bind:hitOptions="hitOptions"
      v-bind:items="items"
      v-bind:scaleDivider="scaleDivider"
      @select-item="selectItem($event)"
    />
    <ButtonMovingSaw
      v-bind:paper="paper"
      v-bind:selectedItem="selectedItem"
      v-bind:hitOptions="hitOptions"
      v-bind:items="items"
      v-bind:scaleDivider="scaleDivider"
      @select-item="selectItem($event)"
    />
    <ButtonReverseGravity
      v-bind:paper="paper"
      v-bind:selectedItem="selectedItem"
      v-bind:hitOptions="hitOptions"
      v-bind:items="items"
      v-bind:scaleDivider="scaleDivider"
      @select-item="selectItem($event)"
    />
    <ButtonNoCorrection
      v-bind:paper="paper"
      v-bind:selectedItem="selectedItem"
      v-bind:hitOptions="hitOptions"
      v-bind:items="items"
      v-bind:scaleDivider="scaleDivider"
      @select-item="selectItem($event)"
    />
    <ButtonThrowingSaw
      v-bind:paper="paper"
      v-bind:selectedItem="selectedItem"
      v-bind:hitOptions="hitOptions"
      v-bind:items="items"
      v-bind:scaleDivider="scaleDivider"
      @select-item="selectItem($event)"
    />
    <ButtonPivotLaser
      v-bind:paper="paper"
      v-bind:selectedItem="selectedItem"
      v-bind:hitOptions="hitOptions"
      v-bind:items="items"
      v-bind:scaleDivider="scaleDivider"
      @select-item="selectItem($event)"
    />
    <LevelInfo v-bind:level="level" />
    <ItemInfo v-bind:selectedItem="selectedItem" />
    <ImportForm />
  </div>
</template>

<script>
import ImportForm from "./ImportForm";
import ItemInfo from "./ItemInfo";
import LevelInfo from "./LevelInfo";
import ButtonSaw from "./ButtonSaw";
import ButtonWall from "./ButtonWall";
import ButtonMovingSaw from "./ButtonMovingSaw";
import ButtonNoCorrection from "./ButtonNoCorrection";
import ButtonReverseGravity from "./ButtonReverseGravity";
import ButtonThrowingSaw from "./ButtonThrowingSaw";
import ButtonPivotLaser from "./ButtonPivotLaser";

export default {
  name: "Toolbar",
  props: {
    paper: Object,
    items: Array,
    hitOptions: Object,
    selectedItem: Object,
    level: Object,
    scaleDivider: Number,
  },
  components: {
    ImportForm,
    ItemInfo,
    ButtonSaw,
    ButtonWall,
    ButtonMovingSaw,
    LevelInfo,
    ButtonReverseGravity,
    ButtonNoCorrection,
    ButtonThrowingSaw,
    ButtonPivotLaser,
  },
  methods: {
    selectItem(item) {
      this.$emit("select-item", item);
    },
    addFinish(existingYml = false) {
      if (!existingYml) {
        existingYml = { x: 0, y: 0 };
      } else {
        existingYml.x = existingYml.x * this.scaleDivider;
        existingYml.y = -existingYml.y * this.scaleDivider;
      }
      let finish = this.paper.Path.Circle({
        radius: 18,
        fillColor: "green",
        itemType: "finish",
      });

      finish.position.x = existingYml.x;
      finish.position.y = existingYml.y;

      finish.onMouseDrag = (event) => {
        finish.position.x += event.delta.x;
        finish.position.y += event.delta.y;
      };

      this.items.push(finish);
    },
    addSpawn(existingYml = false) {
      if (!existingYml) {
        existingYml = { x: 0, y: 0 };
      } else {
        existingYml.x = existingYml.x * this.scaleDivider;
        existingYml.y = -existingYml.y * this.scaleDivider;
      }

      let spawn = this.paper.Path.Circle({
        radius: 12,
        fillColor: "blue",
        itemType: "spawn",
      });

      spawn.position.x = existingYml.x;
      spawn.position.y = existingYml.y;

      spawn.onMouseDrag = (event) => {
        spawn.position.x += event.delta.x;
        spawn.position.y += event.delta.y;
      };

      this.items.push(spawn);
    },
  },
  mounted() {},
  computed: {},
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
#toolbar {
  width: calc(100% - 1290px);
}
</style>
