<template>
  <div>
    <button @click="parseToYaml()">yolo</button>
    <div>
      <pre>{{ rawYml }}</pre>
    </div>
  </div>
</template>

<script>
import * as yaml from "js-yaml";

export default {
  name: "ItemInfo",
  props: {
    items: Array,
    scaleDivider: Number,
    level: Object,
  },
  data: () => {
    return { rawYml: "" };
  },
  methods: {
    parseToYaml() {
      let dump = {
        name: this.level.name,
        par: Number(this.level.par),
        spawn: {},
        bodies: {
          saw: [],
          movingsaw: [],
          throwingsaw: [],
          wall: [],
          finish: [],
          reversegravityzone: [],
          nocorrection: [],
          pivotlaser: [],
        },
      };

      this.items.forEach((i) => {
        switch (i.itemType) {
          case "wall":
            dump.bodies.wall.push(i.toYml());
            break;
          case "reversegravityzone":
            dump.bodies.reversegravityzone.push(i.toYml());
            break;
          case "nocorrection":
            dump.bodies.nocorrection.push(i.toYml());
            break;
          case "spawn":
            dump.spawn = {
              x: i.position.x / this.scaleDivider,
              y: -i.position.y / this.scaleDivider,
            };
            break;
          case "saw":
            dump.bodies.saw.push(i.toYml());
            break;
          case "movingSaw":
            dump.bodies.movingsaw.push(i.toYml());
            break;
          case "throwingSaw":
            dump.bodies.throwingsaw.push(i.toYml());
            break;
          case "pivotlaser":
            dump.bodies.pivotlaser.push(i.toYml());
            break;
          case "finish":
            dump.bodies.finish.push({
              x: i.position.x / this.scaleDivider,
              y: -i.position.y / this.scaleDivider,
            });
            break;
          default:
            break;
        }
      });

      this.rawYml = yaml.safeDump(dump);
    },
  },
  mounted() {},
  computed: {},
};
</script>

<style lang="scss" scoped>
</style>
